.vidCierre{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 50px 0;
    background-color: #001d76;
    background-image: url('../img_plan/math-bg-20.webp');
    background-size: cover;

    h3{
        color: white;
        padding: 30px 0 0 0 ;
    }


    .contVid{
        width: 90%;
        padding: 20px 0 0 0;
        
        
    }
}

@media (min-width: 1024px) {
    .vidCierre{
        
        
        .contVid{
            width: 70%;
            
        }
    }
}

@media (min-width: 1330px) {
    .vidCierre{

        .contVid{
            width: 60%;
        }
    }
}

